.WordTiles {
  display: flex;
  gap: 4px;
}

.Tile {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  align-content: center;
  text-align: center;
}

.bg-green {
  background-color: greenyellow;
}
.bg-yellow {
  background-color: yellow;
}

.bg-gray {
  background-color: lightgray;
}

.bg-white {
  background-color: white;
}

ol {
  margin-top: 30px;
  list-style: none;
}

ol > li {
  line-height: 32px;
  margin-bottom: 16px;
}

#Keyboard .row:nth-child(2) {
  margin-left: 15px;
}

#Keyboard .row:nth-child(3) {
  margin-left: 30px;
}

#Keyboard button {
  width: 30px;
  height: 30px;
}
