#Keyboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

#Keyboard .row {
  display: flex;
  gap: 6px;
}

#Keyboard button.key {
  height: 58px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-color-key);
}
#Keyboard button.letter-key {
  width: 43px;
  font-size: 1.25em;
}

#Keyboard button.action-key {
  width: 65px;
  font-size: 0.8em;
  background-color: var(--bg-color-key);
}

#Keyboard button.letter-key.bg-present {
  background-color: var(--color-present);
  color: white;
}
#Keyboard button.letter-key.bg-correct {
  background-color: var(--color-correct);
  color: white;
}

#Keyboard button.letter-key.bg-absent {
  background-color: var(--color-absent);
  color: white;
}
